.main{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/a/ab/Panorama_de_l%27h%C3%A9micyle_de_l%27assembl%C3%A9e_nationale.jpg");
  width : 100vw;
  height : 100vh;
  background-size: cover;
}

.card{
  backdrop-filter: blur(10px);
  padding: 15px 15px;
  border-radius: 20px;
  color: white;
  height : fit-content;
  max-height : 80vh;
}

.shadow{
  background-color: rgba(0, 0, 0, 0.7);
}

.btn{
  background-color: #646cff;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  width : 90%;
}